/* 黒背景 */
.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: none; 
    z-index: -1; 
}

/* ハンバーガーメニューが開いたとき */
.navbar-toggler.collapsed + .overlay {
    display: block; 
}

@media only screen and (max-width: 768px) {
    .overlay {
        display: none;
    }
    .navbar-toggler.collapsed + .overlay {
        display: none;
    }
}